.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  display: block;
}

input {
  padding: 0;
}

.address__link,
.menu__link,
.logo,
.contacts__link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.why-us .container {
  display: flex;
}

.our-team .container,
.our-offer .container {
  display: flex;
  flex-direction: column;
}

.header .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.why-us.section {
  padding-bottom: 0;
}

.our-team.section {
  background-color: #f5f4fa;
}

.hero.section {
  padding: 0;
}

.logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: "Raleway", "Verdana", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo--accent {
  color: #2196f3;
}

.logo--white {
  display: block;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 500ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn {
  border: 0;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  /* font-family: var(--main-font); */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.newsletter__btn {
  align-self: flex-end;
  display: flex;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team__social {
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: white;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.main-header {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 200px;
}

.article__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
}

.offer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
}

.join-us__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  position: absolute;
  margin: auto;
  background-color: #ffffff;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__icon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 45%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn {
  margin-right: 124px;
  margin-left: 124px;
  margin-top: 30px;
}

.form__input {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  margin-bottom: 10px;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input:focus {
  border-color: #2196f3;
}

.form__comment {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 25px;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  border-color: #2196f3;
}

.form__declaration {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__declaration::before {
  display: inline-block;
  content: ' ';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  border-color: #212121;
  margin-right: 8px;
}

.form__checkbox:checked + .form__declaration::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link.current {
  color: #2196f3;
}

.menu__link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  top: 46px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.menu__item {
  position: relative;
}

.menu__item:nth-child(2) {
  margin-right: 46px;
  margin-left: 64px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item:first-child {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.active-link {
  color: #2196f3;
}

.navigation,
.menu,
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  display: flex;
}

.article__icon {
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.article__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.article__item:not(:last-child) {
  margin-right: 30px;
}

.offer {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.offer__header-wrapper {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.offer__item {
  position: relative;
}

.team {
  display: flex;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.team__item {
  background-color: #ffffff;
  width: 270px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.customers {
  display: flex;
  justify-content: space-between;
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-decoration: none;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.addresses {
  margin-right: 70px;
}

.join-us__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:hover, .join-us__link:focus {
  background-color: #2196f3;
}

.join-us__item:not(:last-child) {
  margin-right: 10px;
}

.join-us__social {
  margin-top: 20px;
}

.contact-us {
  background-color: #2f303a;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #ffffff;
}

.address__item:nth-child(2) {
  margin: 9px 0;
}

.newsletter {
  margin-left: 70px;
}

.newsletter__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter__wrapper {
  display: flex;
}

.newsletter__icon {
  margin: auto;
}

.newsletter__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 0 0 0 16px;
  outline: none;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 572px;
  margin-bottom: 50px;
}

.filters__btn {
  border: 0;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__btn--active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======= END FILTERS ======= */
/* =======  EXAMPLES  ======= */
.examples {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.examples__overlay {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  padding-left: 24px;
  padding-right: 45px;
  transform: translateY(295px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__wrapper {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  border: 1px solid #eee;
}

.examples__description {
  color: #ffffff;
  margin: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.examples__title {
  padding-left: 24px;
  padding-bottom: 4px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__category {
  padding-left: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.examples__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.examples__item:hover, .examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__item:hover .examples__overlay {
  transform: translateY(0);
}

.examples__item:nth-child(n + 7) {
  margin-bottom: 0;
}

/* ======= END EXAMPLES ======= */
/*# sourceMappingURL=main.css.map */