.hero {
    background-color: $background-color-dark;
    background-position: center top;  
    background-repeat: no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-mobile-480x400.jpg');    
    // background-size: 480px 400px;
    background-size: cover;
    // background-position: center top;  
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-mobile-960x800@2x.jpg');
  }
}

// tablet

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-tablet-768x400.jpg');
    
    // background-size: 768px 400px;
    background-size: cover;  
    // background-repeat: no-repeat;
    // background-position: center top;  
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-tablet-1536x800@2x.jpg');
  }
}

// desktop

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-desktop-1600x600.jpg');
    
    // background-size: 1600px 600px;
    background-size: cover;  
    // background-repeat: no-repeat;
    // background-position: center top;  
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-desktop-3200x1200@2x.jpg');
  }
}


// .hero {
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url('../images/hero/hero.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
// }
