// .mobile-menu__icon {
//     color: $main-color;
//   }

@media screen and (min-width: 320px) and (max-width: 767px) {
// @media screen and (min-width: 480px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .logo {
    display: block;
    margin: 15px 0;
  }  
  .mobile-menu {
    position: absolute;
    // width: 24px;
    // height: 16px;
    top: 22px;
    right: 23px;
    background-color: $white-color;
    border: white;
    // border: 1px solid white;
    // border-radius: 50%;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $blue-color;
    }
  }
  .mobile-menu__icon {
    fill: currentColor;
  }
}

// ==========================================================================================
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
    // width: 282px;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  .contacts {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 138px;
    // height: 38px;
    height: 48px;
    // justify-content: space-between;
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
 
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $main-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $gray-color;

    &:hover,
    &:focus {
      color: $blue-color;
    }
  }
  .menu__item {
    position: relative;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: $main-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $blue-color;
    }
  }
  .menu__link.current {
    color: $blue-color;

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      top: 46px;
      left: 0;
      background-color: $blue-color;
      border-radius: 2px;
    }
  }
}
// ============================================================================================
@media screen and (min-width: 1200px) {
  .contacts {
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }
  .menu {
    width: 254px;
    flex-grow: unset;
    justify-content: space-between;
  }
  
  .contacts__link {
      font-size: 14px;
      line-height: 1.142;
  }
  .menu__link.current::after {
    top: 46px;
  }
  .contacts__item:first-child {
    margin-right: 50px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}


// .menu__link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: $main-color;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $blue-color;
//   }
// }
// .menu__link.current {
//   color: $blue-color;

//   &::after {
//     display: block;
//     content: '';
//     width: 100%;
//     height: 4px;
//     position: absolute;
//     top: 46px;
//     left: 0;
//     background-color: $blue-color;
//     border-radius: 2px;
//   }
// }
// .menu__item {
//   position: relative;

//   &:nth-child(2) {
//     margin-right: 46px;
//     margin-left: 64px;
//   }
// }
// .contacts__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
// .contacts__item:first-child {
//   margin-right: 50px;
// }
// .contacts__link {
//   display: flex;
//   align-items: center;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: $main-color;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   color: $gray-color;

//   &:hover,
//   &:focus {
//     color: $blue-color;
//   }
// }
// .active-link {
//   color: $blue-color;
// }
// .navigation,
// .menu,
// .contacts {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
