.offer {
  display: flex;
  justify-content: space-between;
  width: 1170px;

  &__header-wrapper {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  &__item {
    position: relative;
  }
}


