@media screen and (min-width: 320px) and (max-width: 1199px) {
  .our-offer.section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .offer {
    display: flex;
    justify-content: space-between;
    width: 1170px;

    &__header-wrapper {
      position: absolute;
      bottom: 0;
      width: 370px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
    }
    &__item {
      position: relative;
    }
    &__header {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      padding-top: 30px;
      text-align: center;
      color: $white-color;
    }
  }
}

