.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // width: 100%;
  margin-bottom: 50px;
}
.filters__btn {
  border: 0;
  background-color: $background-color-gray;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $blue-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filters__btn--active {
  color: $white-color;
  background-color: $blue-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ======= END FILTERS ======= */
/* =======  EXAMPLES  ======= */
.examples {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.examples__overlay {
  display: flex;
  position: absolute;
  top: 0;
  // z-index: 1;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  padding-left: 24px;
  padding-right: 45px;
  transform: translateY(295px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__wrapper {
  position: relative;
  // height: 101%;
  // flex-grow: 1;
  // z-index: 3;
  background-color: $white-color;
  border: 1px solid #eee;
}
.examples__description {
  color: $white-color;
  margin: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.examples__title {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples__category {
  padding-left: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $gray-color;
}
.examples__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  // width: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .examples__overlay {
    transform: translateY(0);
  }
  
}


/* ======= END EXAMPLES ======= */

@media screen and (min-width: 320px) and (max-width: 767px) {
// @media screen and (min-width: 480px) {
  .examples__photo {
    // width: 450px;
    width: 100%;
    height: 294px;
  }
  .examples__wrapper {
    max-width: 450px;
  }
  .filters__btn:last-child {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .examples__photo {
    width: 354px;
    height: 294px;
  }
  .examples__item:first-child {
    height: 100%;
  }
  // przez karte obok z zawinietym tekstem overlay wystawal od spodu
  .examples__item:first-child .examples__category{
    margin-bottom: 35px;
  }
  .examples__wrapper {
    width: 354px;

    // &:first-of-type {      
    //   height: 100%;
    // }
  }
  .filters {  
    width: 645px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .examples__photo {
    width: 370px;
    height: 294px;
  }
  .examples__wrapper {
    width: 370px;
  }
  .examples__item:nth-child(n + 7) {
    margin-bottom: 0;
  }
  .examples__item:first-child .examples__category{
    margin-bottom: 0;
  }
  .filters {  
   width: 572px;  
  }
}