.team {
  
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__position {
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: $gray-color;
  }
}
.team__item {
  background-color:$white-color;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  overflow: hidden;
  object-fit: cover;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
// @media screen and (min-width: 480px) {
  .team__item {
    max-width: 450px;
    // width: 100%;
    margin-bottom: 30px;
  }
  .team__photo {
    object-fit: cover;
    // max-width: 450px;
    width: 100%;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team__item {    
    margin-bottom: 30px;
    width: 354px;
  }
  .team__photo {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  // .team {
  //   display: flex;
  //   justify-content: space-between;
  // }
  .team__item {
    width: 270px;
    margin-bottom: 0;
  }
  .team__photo {
    width: 270px;
    height: 260px;
  }
}


// .team {
//   display: flex;

//   &__name {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.188;
//     text-align: center;
//     letter-spacing: 0.03em;
//     margin-top: 30px;
//     margin-bottom: 10px;
//   }
//   &__position {
//     font-size: 16px;
//     line-height: 1.188;
//     text-align: center;
//     letter-spacing: 0.03em;
//     margin-bottom: 16px;
//     color: $gray-color;
//   }
// }
// .team__item {
//   background-color:$white-color;
//   width: 270px;
//   display: flex;
//   flex-direction: column;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }




