.article {

  &__icon {
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $gray-color;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
// @media screen and (min-width: 480px) {
  .article__icon {
    width: 100%;
  }
  .article__header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .article {
    display: flex;
    flex-wrap: wrap;
  
    &__text {
      width: 354px;
      margin-bottom: 45px;
    }
    &__icon {
      width: 354px;
    }
    &__item:nth-child(odd) {
      margin-right: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {

  .article {
    display: flex;

    &__text {
      width: 270px;
      margin-bottom: 0;
    }
    &__icon {
      width: 270px;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// .article {
//   display: flex;

//   &__icon {
//     width: 270px;
//     height: 120px;
//     padding-top: 25px;
//     padding-bottom: 25px;
//     background-color: #f5f4fa;
//     border-radius: 4px;
//   }
//   &__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: $gray-color;
//     margin-top: 10px;
//   }
//   &__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }
