.logo {
  // margin-right: 93px;
  // margin-top: 24px;
  // margin-bottom: 25px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $main-color;
}
.logo--accent {
  color: $blue-color;
}
.logo--white {
  display: block;
  margin-bottom: 20px;
  color: $white-color;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
// @media screen and (min-width: 480px) {
  .logo.logo--white {    
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }  
}
@media screen and (min-width: 768px) {
  .logo {
    display: inline-block;
  }
  .logo.logo--white { 
    margin-top: 0;
    display: block;    
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
  }
  .logo.logo--white {   
    text-align: left;
  }  
}