@media screen and (min-width: 320px) and (max-width: 767px) {
 .btn-menu {
    position: absolute;
    top: 22px;
    right: 23px;
    background-color: #ffffff;
    border: white;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-menu:hover, .btn-menu:focus {
    color: #2196f3;
  }
  .btn-menu__icon {
    fill: currentColor;
  }
  .mobile-modal {
    // position: absolute;
    // background-color: rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 5;
    width: 100%;
    height: 796px;
    left: 0;
    top: 0;
    position: fixed;
    transition: 500ms linear;
  }


  .menu-modal {
    display: block;   
    margin-top: 48px;
  }
  .menu-modal__link {
    display: block;
    color: $main-color;
    // font: $main-font;
    text-decoration: none;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 32px;
    
  }
  .menu-modal__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .menu-modal__link:hover,
  .menu-modal__link.current,
  .menu-modal__link:focus {
    color: $blue-color;
  }




.menu-modal-contacts {
  display: block;
  margin-top: 306px;
}
 .menu-modal-contacts__tel {
   display: block;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $blue-color;
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 32px;
  }
.menu-modal-contacts__mail {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-left: 40px;
  }

 

  .menu-modal-social {
    display: flex;
    margin-left: 40px;
    // list-style: none;
    // font-family: Roboto;
    font-size: 18px;
    // font-style: normal;
    // font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    // color: var(--main-color);
    margin-top: 64px;
  }
  .menu-modal-social__link {
    // margin-left: 10px;
    text-decoration: none;
    // font-family: Roboto;
    font-size: 18px;
    // font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $blue-color;
    margin-top: 64px;
  }

  // .menu-modal-social__link::before {
  //   content: "";
  //   border: 1px solid rgba(33, 33, 33, 0.2);
  //   transform: rotate(90deg);
  //   margin-right: 10px;
  // }
  .menu-modal-social__item:not(:first-child)::before {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-close.mobile {
    border: none;
    border-radius: 0;
    top: 18px;
    right: 18px;
  }
}



@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}