.social {
  display: flex;
  justify-content: space-between;

    &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
.team__social {
  width: 206px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-color;
    color: white;
  }
}