body {
  font-family: $main-font;
  color: $main-color;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
img {
  display: block;
}
input {
  padding: 0;
}
.address__link,
.menu__link,
.logo,
.contacts__link,
.mobile-menu {
  text-decoration: none;
}