.container {
  width: 100%;
  padding: 0 15px;
  // background-color: red;
  margin-left: auto;
  margin-right: auto;
  
}

.hero .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us .container{
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
// @media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .contact-us .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: baseline;
  }
  .header .container {
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .contact-us .container { 
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: baseline;
  }
  .header .container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .contact-us .container {     
  justify-content: space-between;
  padding-top: 0;
  }
  // .header .container {
  // display: flex;
  // justify-content: space-around;
  // }
}

// .container {
//   width: 1200px;
//   padding: 0 15px;
//   margin-left: auto;
//   margin-right: auto;
//   align-items: center;

// .hero & {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
//   .why-us & {
//     display: flex;
//   }
//   .our-team &,
//   .our-offer & {
//     display: flex;
//     flex-direction: column;
//   }
//   .header & {
//     display: flex;
//     justify-content: space-between;
//     border-bottom: 1px solid #ececec;
//   }
//   .contact-us & {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     display: flex;
//     align-items: baseline;
//     justify-content: space-between;
//   }
//   .portfolio & {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   }
// }
