.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
  .why-us & {
    display: flex;
  }
  .our-team &,
  .our-offer & {
    display: flex;
    flex-direction: column;
  }
  .header & {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }  
  .hero & {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-us & {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .portfolio & {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}
