
.our-team.section {
  background-color: $background-color-gray;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;  
  }  
  .our-team.section {
    padding-top: 60px;
  }
  .hero.section {
    padding-top: 118px;
    padding-bottom: 118px;  
  }
  .why-us.section {
    padding-top: 60px;  
  }
}
@media screen and (min-width: 768px) {
  .why-us.section {
    padding-bottom: 0;
  }
  .our-customers.section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;  
  }
   .why-us.section {
    padding-top: 94px;  
  }
  .our-team.section {
    padding-top: 94px;
  }
   .our-customers.section {
    padding-top: 94px;
  }
}

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;  
// }
// .why-us.section {
//   padding-bottom: 0;
// }
// .our-team.section {
//   background-color: $background-color-gray;
// }
// .hero.section {
//   padding: 0;
// }