// :root {}
  $main-font: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  $secondary-font: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
  $main-color: #212121;
  $white-color: #ffffff;
  $blue-color: #2196f3;
  $gray-color: #757575;
  $light-gray-color: rgba(117, 117, 117, 0.5);
  $background-color-dark: #2f303a;
  $background-color-gray: #f5f4fa;
  $opacity-color: rgba(255, 255, 255, 0.6);



// $colors:(
//   'main': #212121,
// );
